// Quasar SCSS Variables
// Arqut Edge branding colors

$primary   : #69a541;
$secondary : #69a641;
$accent    : #9C27B0;

$dark      : #3b4c56;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;

$button-border-radius : 5px;
